# Python/Flask
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
*.log

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
*.dart_tool/
*.packages
build/
ios/Pods/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

